        body {
            font-size: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: indigo;
        }

        .centro {
            text-align: center;
        }

        a {
            color: blue;
        }

        h1 {
            color: rgb(255, 255, 255);
            animation: daniel 3s infinite alternate;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        #minhafoto {
            border-radius: 80%;
            border: 4px solid rgb(242, 0, 255);
        }

        .resumo {
            background-color: aliceblue;
            border: 4px solid rgb(242, 0, 255);
        }

        @keyframes daniel {
            to {
                transform: translateY(10px);
            }
        }
